body{
    background-image:  url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80);
}

#top-row{
    width: 100%;
    border-bottom: 3px solid rgba(0,0,0,.1);
}
#col-card{
    max-width:50%;
    margin-left: 5%;
}
#header{
    max-width: 350px;
    margin-left: 5%;
    

}
h2{
    padding:15px;
    text-align: center;
    height: 100%;
}
.container{
    max-width: 100%;
}
.navbar-nav{
    padding-top: 0px;
    text-align: right;
    width:100%;
    list-style-type: none;

}
.nav-item{
    width:100%;
}
h3{
    border-bottom: 3px solid rgba(0,0,0,.1);
    padding:20px;
    
}
@media screen and (max-width: 980px) {
    #header{
        max-width: 40%;
        margin-left: 15px;
        

    }
    h2{
        padding:15px;
        text-align: center;
        height: 100%;
    }
    
    h3{
        border-bottom: 3px solid rgba(0,0,0,.1);
        padding:20px;
        
    }
    .container{
        margin:0%;
        max-width: 2000px;
        padding:0px;
    }
    #top-row{
        width:100%;
        margin:0px;
        
    }
    #col-card{
        padding:20px;
        max-width:640px;
        margin-left:15px;
    }
    .navbar-nav{
        padding-top: 0px;
        text-align: right;
        width:100%;
        list-style-type: none;

    }
}

@media screen and (max-width: 768px) {
    #header{
        max-width: 40%;
        margin-left: 15px;

    }
    footer{
        position: absolute;
        bottom:0px;
        width: 100%;
        padding: 30px;
        border-top: #17a2b8;
        border-top-width: 10px;
        border-top-style: solid;
    }
    #top-row{
        max-width: 928px;
        width:100%;
        margin:0px;

    }
    h2{
        padding:15px;
        text-align: center;
        height: 100%;
    }
    .navbar-nav{
        padding-top: 0px;
        text-align: right;
        width:100%;
        list-style-type: none;
    
    }
    #col-card{
        padding:30px;
        
    }
    h3{
        border-bottom: 3px solid rgba(0,0,0,.1);
        padding:20px;
        
    }
}


@media screen and (max-width: 640px) {
    #header{
        padding-top:15px;
        padding-bottom: 15px;
        text-align: center;
        width:100%;
        max-width: 100%;
        margin:0px;
    }

    .container{
        width:100%;
        padding:0px;
        margin:0px;
        max-width: 640px;
    }
    .navbar-nav{
        text-align: center;
        width:100%;
        list-style-type: none
    }
    li{
        float:left;
        width:100%;
    }
    footer{
        position: absolute;
        bottom:0px;
        width: 100%;
        padding: 30px;
        border-top: #17a2b8;
        border-top-width: 10px;
        border-top-style: solid;
    }
    .card{
        max-width:540px;
        margin:auto;
    }
    .card-title{
        padding:10px;
    }
    h3{
        border-bottom: 3px solid rgba(0,0,0,.1);
        padding:20px;
        
    }
}

footer{
    position: absolute;
    bottom:0px;
    width: 100%;
    padding: 30px;
    border-top: #17a2b8;
    border-top-width: 10px;
    border-top-style: solid;
}