body{
    background-image:  url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80);
}

#top-row{
    width: 100%;
    border-bottom: 3px solid rgba(0,0,0,.1);
}

#header{
    max-width: 350px;
    margin-left: 5%;
}
h2{
    padding:15px;
    text-align: center;
    height: 100%;
}
.container{
    max-width: 100%;
}
.navbar-nav{
    padding-top: 0px;
    text-align: right;
    width:100%;
    list-style-type: none;

}
.nav-item{
    width:100%;
}
h3{
    border-bottom: 3px solid rgba(0,0,0,.1);
    padding:20px;
}
img{
    max-height: 165px;
    max-width: 247px;
}

footer{
    position: absolute;
    bottom:0px;
    width: 100%;
    padding: 30px;
    border-top: #17a2b8;
    border-top-width: 10px;
    border-top-style: solid;
}

.over-text{
    width:100%;
    padding:5px
}
h5{
    padding:10px;
    width:100%;
}
.card-image-overlay{
    padding:0px;
}
.col-sm{
    padding:10px;
}



@media screen and (max-width: 640px) {
    #header{
        padding-top:15px;
        padding-bottom: 15px;
        text-align: center;
        width:100%;
        max-width: 100%;
        margin:0px;
    }

    .container{
        width:100%;
        padding:0px;
        margin:0px;
        max-width: 640px;
    }
    .navbar-nav{
        text-align: center;
        width:100%;
        list-style-type: none
    }
    li{
        float:left;
        width:100%;
    }
    footer{
        position: absolute;
        bottom:0px;
        width: 100%;
        padding: 30px;
        border-top: #17a2b8;
        border-top-width: 10px;
        border-top-style: solid;
    }
    img{
        max-width: 520px;
        max-height: 520px;
    }
    .col-sm{
        width:450px;
        min-width: 450px;
        padding:10px
    }
    .card-title{
        padding:10px;
    }
    h3{
        border-bottom: 3px solid rgba(0,0,0,.1);
        padding:20px;
        
    }
    .card-image-overlay{
        padding:0px;
    }
}