body{
    background-image:  url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80);
}
@media screen and (max-width: 640px) {
    h2{
        padding:15px;
        margin: auto;
        text-align: center;
    }
    .navbar-nav{
        text-align: center;
        width:100%;
        list-style-type: none
    }
    li{
        float:left;
        width:100%;
    }
    .card{
        
       
        
    }
   
    .container{
        padding-top: 20px;
        padding-bottom:20px;
        
    }
    img{

        padding:20px;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);

    }
    h3{
        padding: 1.25rem;
        border-bottom-width: 10px;
        border-bottom-style: solid;
        border-bottom: #17a2b8;
        
    }
    .card-title{
        border-bottom-width: 10px;
        border-bottom-style: solid;
        border-bottom: #17a2b8;
        
    }
    footer{
        width: 100%;
        padding: 30px;
        border-top: #17a2b8;
        border-top-width: 10px;
        border-top-style: solid;
    }
    

}
@media screen and (max-width: 768px) {
    img{
        padding:20px;
        

    }
}
@media screen and (max-width: 980px) {
    img{
        padding:20px;
        

    }
}
